COZE_PAT=pat_xxx
COZE_BOT_ID=1234567890
COZE_REGION=cn
COZE_BASE_URL=
COZE_STREAM_RUN_URL=https://your-subdomain.coze.site/stream_run
COZE_PROJECT_ID=1234567890123456789
COZE_STREAM_TOKEN=
COZE_MANAGE_STREAM_RUN_URL=
COZE_MANAGE_PROJECT_ID=
COZE_MANAGE_STREAM_TOKEN=
VITE_AGENT_API_URL=
VITE_AGENT_MANAGE_API_URL=
